:root{
    --font-size-text: 0.9em;
    --font-size-subtitle: 1.5em;
    --font-size-title: 2.5em;
}

html{
    font-size: 1.5vw;
}

/* Barra de navegación */

header{
    top: 50%;
    bottom: unset;
    right: 0;
    left: unset;
    width: 8.5em;
    transform: translateY(-50%);
    font-size: 0.8em;
}

header ul{
    display: block;
}

header ul li{
    position: relative;
    height: 4em;
    display: flex;
    align-items: center;
}

header ul li a{
    position: fixed;
    display: flex;
    align-items: center;
}

.link_name{
    display: block;
}

.fondo_contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.fondo_contacto > * {
    padding: 2em;
}
.info_contacto h4,
.info_contacto ul{
    text-align: left;
    margin: 0 0 7rem 0;
}