:root{
    --font-size-text: 0.9em;
    --font-size-subtitle: 1.5em;
    --font-size-title: 2.5em;
}

html{
    font-size: 1.5vw;
}

.fondo_contacto {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.fondo_contacto > * {
    padding: 2em;
}
.info_contacto h4,
.info_contacto ul{
    text-align: left;
    margin: 0 0 7rem 0;
}