:root{
    --font-size-text: 0.7em;
    --font-size-subtitle: 1em;
    --font-size-title: 1.8em;
}

html{
    font-size: 3vw;
}

/* Main */

/* Presentación */

.mi_info{
    align-items: flex-start;
}